@import './responsive_mixin';
@import './colors';
@import './fonts';
@import './typography';

// Main Components
html,body{
  margin:0;
  padding:0;
}
// Containers
.header_container{

}
.nav_container{

}
.content_container{

}
.footer_container{

}
// Navbar
.nav_container ul, .nav_container li{
  margin:0;
  padding:0;
  list-style-type: none;
}
.nav_container ul > li{
  display:inline-block;
  padding:5px;
}
